.gitignore
仿造游戏Red Dead Redemption 2官方网站_项目小组分工与自评表（古学懂、李思明、许哲豪、刘子豪）.docx
Web程序设计课程大作业.doc
_images/info/049ebb1155c454beac122c27bcd1ec91.png
_images/info/下载 (1).svg
_images/info/下载 (2).svg
_images/info/下载 (3).svg
_images/info/下载 (4).svg
_images/info/下载 (5).svg
_images/info/下载.svg
_images/info/a5daaafe88a6e50e3e6409402a04b4fa.svg
_images/pc/049ebb1155c454beac122c27bcd1ec91.png
_images/pc/1280 (1).jpg
_images/pc/1280 (2).jpg
_images/pc/1280 (3).jpg
_images/pc/1280 (4).jpg
_images/pc/下载 (1).svg
_images/pc/下载 (2).svg
_images/pc/下载 (3).svg
_images/pc/下载 (4).svg
_images/pc/下载 (5).svg
_images/pc/下载.svg
_images/pc/a5daaafe88a6e50e3e6409402a04b4fa.svg
_images/pc/reddeadredemption2-pclaunch-zh_hans-720p60.jpg
_images/pc/reddeadredemption2.jpg
_images/review/528b47c3b66272736fe2db3b4a9dc22e26dc4236.jpg
_images/review/下载.svg
_images/review/b44f388ed5bdc82639951996b37a7531.png
_images/wildlife/0a9a3a5ba3a46f483e3f2aac05a259ce.jpg
_images/wildlife/0ab573afa7a7bf291eaba94ec58ab1a3.jpg
_images/wildlife/0be4a5e3681fd638233c4dc77e8feb26.jpg
_images/wildlife/4ae7d6f237f23095f64fb5201d0d07d0.jpg
_images/wildlife/4eb1ba7509ccb2ab43c904ee12944f9d.jpg
_images/wildlife/7a0fca4fb8a210a70f0ed008746974f2.jpg
_images/wildlife/7e6dcbf5ea918a59dc0fb5c269460f5d.jpg
_images/wildlife/9d478e52f9900b838c62231b6560d059.jpg
_images/wildlife/11e83f7d88313780f72e43629a91b673.jpg
_images/wildlife/21dbd2c011f338df0cf808c37484138b.jpg
_images/wildlife/36a0b3bd43b5c0a427f9256bdf5c8139.jpg
_images/wildlife/41-thumb.jpg
_images/wildlife/42-thumb.jpg
_images/wildlife/43-thumb.jpg
_images/wildlife/44-thumb.jpg
_images/wildlife/45-thumb.jpg
_images/wildlife/46-thumb.jpg
_images/wildlife/47-thumb.jpg
_images/wildlife/48-thumb.jpg
_images/wildlife/49-thumb.jpg
_images/wildlife/049ebb1155c454beac122c27bcd1ec91.png
_images/wildlife/50-thumb.jpg
_images/wildlife/51-thumb.jpg
_images/wildlife/52-thumb.jpg
_images/wildlife/54d732fe7443f9e80a6ca3d870e5dc0f.jpg
_images/wildlife/948f2d8b9e9419126fb44efe46587d97.jpg
_images/wildlife/9354bcda943ce4d72346d3761c4069bc.jpg
_images/wildlife/37904dac0951ebd02b81c236a5e6f9e5.jpg
_images/wildlife/下载 (1).svg
_images/wildlife/下载 (2).svg
_images/wildlife/下载 (3).svg
_images/wildlife/下载 (4).svg
_images/wildlife/下载 (5).svg
_images/wildlife/下载.svg
_images/wildlife/a5daaafe88a6e50e3e6409402a04b4fa.svg
_images/wildlife/c40d82be0fdbe3184f6495e69cc8e1b7.jpg
_images/wildlife/d8fc065f753b636620b59cc5f84c576a.jpg
_images/wildlife/d15737d85ccea9784bb530bf4683cc05.jpg
_images/wildlife/dcc88887c83c1e62cb9f1b14f4636628.jpg
_images/wildlife/de8f6199f89579a56fab45c5cecd8a86.jpg
_images/wildlife/e3a0cb9a124f6e6e64a3561f0e61559c.jpg
_images/wildlife/f1a393fa6341216602ce22ca460bfda3.jpg
_images/wildlife/f7dedbd4baec2bc194cffcfcd9a39390.jpg
_images/wildlife/f20e7470b44996c0b7e37a72cec137e9.jpg
_images/wildlife/f71269ebce9e8d5471d7f33cdb0fe235.jpg
_images/wildlife/fcaf1e1ebd621596057e5558415848f8.jpg
_images/order/bakg.jpg
_images/order/button-bakg.png
_images/order/order.html
_images/order/pc-post.jpg
_images/order/pc-spec.png
_images/order/pc-std.png
_images/order/pc-ult.png
_images/order/ps4-dig-spec.png
_images/order/ps4-dig-ult.png
_images/order/ps4-dig.png
_images/order/xone-dig-spec.png
_images/order/xone-dig-ult.png
_images/order/xone-dig.png
_images/pc/49e3dfcfdb6f28e40cc947fe822f21af.png
_images/pc/播放.svg
_images/pc/播放1.svg
_images/pc/大图.svg
_images/pc/background.jpg
_images/review/animal.jpg
_images/review/background.png
_images/review/email.png
_images/review/facebook.svg
_images/review/fire.jpg
_images/review/house.jpg
_images/review/men.jpg
_images/review/starback.png
_images/review/women.jpg
_images/wildlife/1.jpg
_images/wildlife/2.jpg
_images/wildlife/3.jpg
_images/wildlife/4.jpg
_images/wildlife/5.jpg
_images/wildlife/6.jpg
_images/wildlife/7.jpg
_images/wildlife/8.jpg
_images/wildlife/9.jpg
_images/wildlife/10.jpg
课程大作业_游戏Red Dead Redemption 2官方网站（古学懂、李思明、许哲豪、刘子豪）.zip